/* Corps de la page avec une image de fond */
body {
  background-image: url(../img/backgr-tâches.png);
  background-size: contain;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* Introduction */
.intro {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 23px;
  font-family: "Kalam", serif;
  font-weight: 400;
  font-style: italic;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.373);
  padding: 20px;
  background-color: #dcdee7c7;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* Mise en forme pour les smartphones */
@media screen and (max-width: 445px) {
  .intro {
    margin-top: -40px; /* Réduction de l'espacement du haut */
    font-size: 8.5px; /* Réduction de la taille de la police */
    padding: 10px; /* Réduction de l'espacement interne */
    margin-bottom: 20px; /* Réduction de l'espacement du bas */
  }

  body {
    background-size: contain; /* Redimensionnement de l'image de fond */
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* Style du titre h2 */
h2 {
  text-align: center;
  font-size: 45px;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* Conteneur pour le texte */
.container {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 20px;
  width: 900px;
}

/* Liste dans le conteneur */
.container ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style des éléments de liste */
.container li {
  list-style: disc;
  margin-left: 50px;
}

/* Style du titre h3 */
h3 {
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Paragraphe dans le conteneur */
.container p {
  font-size: 20px;
}

/* Image dans le conteneur */
.container img {
  float: right;
  margin: 30px 0 0 15px;
}

/* Texte en gras */
strong {
  font-size: 23px;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */

/* Mise en forme pour les smartphones */
@media screen and (max-width: 445px) {
  h2 {
    margin-top: 10px; /* Réduction de l'espacement du haut */
    font-size: 25px; /* Réduction de la taille du titre */
  }

  .container {
    padding: 10px; /* Réduction de l'espacement interne */
    margin-top: 0; /* Réduction de l'espacement du haut */
    width: 300px; /* Réduction de la largeur */
  }

  .container ul {
    margin-top: 3px; /* Réduction de l'espacement entre les éléments de liste */
    margin-bottom: 3px; /* Réduction de l'espacement entre les éléments de liste */
  }

  .container li {
    margin-left: 0; /* Réduction du décalage de la puce */
    font-size: 10px; /* Réduction de la taille de la police */
  }

  h3 {
    margin-bottom: 10px; /* Réduction de l'espacement en bas du titre */
    margin-top: 10px; /* Réduction de l'espacement en haut du titre */
    font-size: 13px; /* Réduction de la taille du titre */
    text-align: left; /* Alignement du texte à gauche */
  }

  .container p {
    font-size: 10px; /* Réduction de la taille de la police des paragraphes */
  }

  strong {
    font-size: 12px; /* Réduction de la taille du texte en gras */
  }

  .container img {
    width: 60px; /* Réduction de la taille de l'image */
    margin: 30px 0 0 15px; /* Réduction de l'espacement autour de l'image */
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////// */
