/* Importes des polices */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  list-style: none;
}

body {
  background-color: #dee0e9;
  margin-bottom: 100px;
}
/* ///////////////////////////////////////////////////////////// */

/* Section Menu  */

header {
  display: flex;
  background-color: #000000;
  -webkit-box-shadow: 0px 14px 19px 1px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0px 14px 19px 1px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 14px 19px 1px rgba(0, 0, 0, 0.89);
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  display: flex;
  gap: 100px;
}

.menu_li_lien {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
  display: block;
  position: relative;
  padding: 5px 0;
}

.menu_li_lien:hover {
  color: #9e9e9e;
}

/* Animation de menu */
.menu_li_lien::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.menu_li_lien:hover::before {
  transform: scale3d(1, 1, 1);
}

.menu_li_lien::before {
  background: #9e9e9e;
  transform-origin: 100% 50%;
  border-radius: 20px;
}

.menu_li_lien:hover::before {
  transform-origin: 0 50%;
  border-radius: 20px;
}

.active {
  pointer-events: none;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(255, 255, 255, 0.301) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0) 0px 18px 36px -18px inset;
}

/* ///////////////////////////////////////////////////////// */

/* Ancre en haut de la page */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  border-radius: 50%;
  border: #000000 2px solid;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #9c9da181;
}

html {
  scroll-behavior: smooth;
}
/* ////////////////////////////////////////////////// */

/* Section titre principale  */
.title {
  background-image: url(../img/title_background.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  margin-top: 140px;
}

.title_text {
  text-transform: uppercase;
  color: #000000;
  font-size: 120px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  letter-spacing: 10px;
}
/* ///////////////////////////////////////////////////////////////////////// */
